<div class="row comment">
    <div class="col-md-8 offset-md-3">
        <div class="form-group">
            <span class="border border-success"><p>{{text}}</p></span>
        </div>
    </div>
</div>
