<h1>Authors</h1>
<p>Michelle Nguyen (Computer Science major @ Oregon State)</p>
<p>Aaron Jobe (Computer Science major @ Oregon State)</p>

<!-- br go brrrrrrr -->
<br>
{{!-- <br> --}}

<h1>Frameworks</h1>
<p>NodeJS</p>
<p>Express</p>
<p>Handlebars</p>
<p>Bootstrap</p>

<!-- br go brrrrrrr -->
<br>
{{!-- <br> --}}

<h1>Details</h1>
<p>The final project for CS290</p>
<p>Written in December 2021</p>

<br>