<main class="container" role="main">
    <div class="text-center">
        <h1>Welcome!</h1>
        <br>
        <br>
        <h2>Explore the different chatrooms and get to interact with others under the Topics dropdown menu!</h2>
        <br>
        <h2>To learn about the authors and details of this page go to the About page!</h2>
    </div>
</main>