<h1>Arch</h1>
{{#if arch}}
{{#each arch}}
    {{> comment}}
{{/each}}
{{else}}
<p>No results found</p>
{{/if}}

<h1>Cars</h1>
{{#if cars}}
{{#each cars}}
    {{> comment}}
{{/each}}
{{else}}
<p>No results found</p>
{{/if}}

<h1>Aarons</h1>
{{#if aarons}}
{{#each aarons}}
    {{> comment}}
{{/each}}
{{else}}
<p>No results found</p>
{{/if}}

<h1>Skincare</h1>
{{#if skincare}}
{{#each arch}}
    {{> comment}}
{{/each}}
{{else}}
<p>No results found</p>
{{/if}}
